@import url('https://fonts.googleapis.com/css?family=Raleway');

/* Colors */
$primary: #7289d9;
$darkest-grey: #202224;
$darker-grey: #2f3136;
$dark-grey: #36393f;

/* Spacing */
$spacing-sm: 0.33rem;
$spacing-md: 0.66rem;

/* Fonts */
$font-primary: 'Raleway', sans-serif;
