@import '../styles/styles.scss';

html,
body,
ul,
li,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a:link,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  color: #eee;
}
