@import '../styles/styles.scss';

.Grouping {
  margin-bottom: $spacing-md;
  background: $darker-grey;
  border: 1px solid $primary;
  cursor: pointer;

  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-md;
    border-bottom: 1px solid $primary;
    font-size: $font-size-sm;
    text-transform: uppercase;
  }
  &-content {
    padding: $spacing-md;
    background: $darkest-grey;
  }
}
